staticfiles
postgres
backup_script.py
entrypoint.sh
mnt/airflow-dbt-spark/airflow_dbt_spark/metastore_db
mnt/airflow-dbt-spark/airflow_dbt_spark/spark-warehouse/
mnt/dags/__pycache__
.gitkeep
mnt/airflow-dbt-spark/airflow_dbt_spark/target/
mnt/airflow-dbt-spark/airflow_dbt_spark/dbt_packages/
mnt/airflow-dbt-spark/airflow_dbt_spark/logs/
mnt/dags/utils/__pycache__
mnt/airflow-dbt-spark/airflow_dbt_spark/derby.log
mnt/dags/airflow_daily_automations.py
mnt/dags/airflow-selenium-torrent-scrapper.py
mnt/dags/reconcilliation_config.json
mnt/dags/chl_reconcilliation_report_dag.py
mnt/dags/utils/*.py